.container {
  height: 88px;
  width: 1098px;

  &__prev-btn {
    background-color: #ffffff;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    height: 88px;
    border-bottom: 1px solid #1a1a1a;
    margin: 0 150px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &--text {
      margin-bottom: 12px;
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #1a1a1a;
    }

    &--number {
      margin-bottom: 15px;
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #1a1a1a;
    }
  }
}
