@import "./variables";

.input-container {
  height: 122px;
  @include container-flex;
  position: relative;

  &__label {
    font-family: $font-primary;
    @include label-text;
  }

  &__input {
    height: 48px;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    text-indent: 16px;
    &:focus::placeholder {
      color: transparent;
    }
  }

  &__hint {
    font-family: $font-primary;
    @include hint-text;
  }

  &__svg {
    position: absolute;
    display: none;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__valid-icon {
    position: absolute;
    display: none;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);
  }
}

///////////////////////////
// File Input
//////////////////////////

.file-input {
  width: 419px;
  padding: 34px 24px;
  align-self: flex-start;
  margin-left: 126px;
  position: relative;

  &__label {
    font-family: $font-primary;
    @include label-text;
    font-size: 18px;
    margin-right: 19px;
  }

  &__btn {
    background: #0e80bf;
    width: 107px;
    height: 27px;
    border: none;
    border-radius: 4px;
    padding: 5px 19px;
    color: #ffffff;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

//////////
/// error
///

.label-error {
  color: #e52f2f;
}
.input-error {
  border: 1px solid #ef5050;
}

.icon-error {
  display: flex;
}

input:focus {
  outline: none;
}

.input-valid {
  border: 1px solid #98e37e;
}

.error {
  border: 1px solid #ef5050;
}

.untouched {
  border: 1px solid #bcbcbc;
}

.date {
  text-indent: 0;
  padding: 14px 16px;
}
