@import "./variables";

.textarea-container {
  width: 846px;
  @include container-flex;

  &__label {
    font-family: $font-primary;
    @include label-text;
  }

  &__textarea {
    width: 798px;
    background: #ffffff;
    border: 1px solid #bcbcbc;
    border-radius: 4px;

    padding: 13px 16px;
    resize: none;
    &::placeholder {
      font-size: 16px;
    }
  }
}
